<section class="hero is-medium has-carousel">
    <div id="carousel-demo" class="hero-carousel">
        <div class="item-1">
            <img src="/img1.jpg" />
        </div>
        <div class="item-2">
            <img src="/img2.jpg" />
        </div>
        <div class="item-3">
            <img src="/img3.jpg" />
        </div>
    </div>
    <div class="hero-head"></div>
    <div class="hero-body"></div>
    <div class="hero-foot"></div>
</section>